#footer-page,
#footer-page a{
    font-size: 12px;
    color: $white;
}

.footer-endereco{
    height: 145px;
    display: table-cell;
    vertical-align: middle;

    ul{
        list-style: none;
        margin-bottom: 0;

        &:first-child{
            margin-bottom: 15px;
        }
    }
}

.footer-menu{
    height: 145px;
    display: table-cell;
    vertical-align: middle;

    ul{
        margin-bottom: 0;

        li{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}